/* BLUE */
$dark-blue: rgb(41,112,170); //#2970AA
$blue: rgb(27,140,228); //#1B8CE4
$light-blue: rgb(82, 160, 222); //#52A0DE

/* GREEN */
$dark-green: rgb(31, 155, 80); //#1F9B50
$green: rgb(15, 177, 98); //#0FB162
$light-green: rgb(137, 190, 158); //#89BE9E

/* ORANGE */
$dark-orange: rgb(247, 126, 47); //#F77E2F
$orange: rgb(254, 143, 71); //#FE8F47
$light-orange: rgb(255, 196, 158); //#FFC49E

/* GRAY */
$gray-6: rgb(37, 43, 49); //#252B31
$gray-5: rgb(64, 73, 78); //#40494E
$gray-4: rgb(103, 121, 132); //#677984
$gray-3: rgb(117, 133, 144); //#758590
$gray-2: rgb(135, 157, 172); //#879DAC
$gray-1: rgb(207, 226, 238); //#CFE2EE
$gray-0: rgb(228, 234, 238); //#E4EAEE

/* GOLD */
$gold: rgb(255, 203, 77); //#FFCB4D

/* RED */
$red: rgb(230, 94, 94); //#E65E5E
