button {
  height: 40px;
  width: 127px;
  border-radius: 4px;
  background-color: black;
  border-width: 0px;
  padding: 0px;
  text-align: left;
  font-size: .8125rem;
  .button-icon {
    float: left;
    color: white;
    font-size: 1.1rem;
    line-height: 40px;
    margin-left: 12px;
  }
  .button-text {
    color: white;
    text-transform: uppercase;
    font-family: "ProximaNova";
    letter-spacing: .093rem;
    font-weight: 500;
    line-height: 42px;
    padding-left: 40px;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  @media only screen and (max-width: 768px) {
    width: 42px;
  }
}

button.button-blue {
  background-color: $blue;
  transition: background-color .2s ease;
  &:hover {
    background-color: $blue-dark;
    cursor: pointer;
  }
}

button.button-green {
  background-color: $green;
  transition: background-color .2s ease;
  .button-text {
    letter-spacing: .1875rem;
    font-size: 1.1rem;
  }
  &:hover {
    background-color: $green-dark;
    cursor: pointer;
  }
}
