.button {
  height: 40px;
  width: 127px;
  border-radius: 4px;
  background-color: black;
  @media only screen and (max-width: 768px) {
    width: 42px;
  }
}

.button-blue {
  background-color: $blue;
  transition: background-color .2s ease;
  .icon-file-upload2 {
    float: left;
    color: white;
    font-size: 1.1rem;
    line-height: 40px;
    margin-left: 10px;
  }
  &:hover {
    background-color: $dark-blue;
    cursor: pointer;
  }
}

.button-green {
  background-color: $green;
  transition: background-color .2s ease;
  .icon-plus3 {
    float: left;
    color: white;
    font-size: 1.1rem;
    line-height: 40px;
    text-align: center;
    margin-left: 11px;
  }
  .button-text {
    letter-spacing: 3px;
    font-size: 1.1rem;
  }
  &:hover {
    background-color: $dark-green;
    cursor: pointer;
  }
}

.button-icon {
  color: white;
  font-size: 30px;
  position: relative;
  top: -1px;
  left: 11px;
  float: left;
  @media only screen and (max-width: 768px) {
    padding: 1px;
  }
}

.button-text {
  color: white;
  text-transform: uppercase;
  font-family: "ProximaNova";
  letter-spacing: 1.5px;
  font-weight: 500;
  line-height: 42px;
  padding-left: 40px;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
