.checkbox {
 height: 16px;
 width: 16px;
 .icon-checkmark {
   position: relative;
   left: 2px;
   top: 2px;
   color: white;
   font-size: 12px;
 }
}

.checkbox.on {
  background-color: $blue-light;
  color: white;
}

.checkbox.off {
 box-shadow: inset 0 0 0 2px $light-2;
}

.checkbox.off.dark {
 background-color: $dark-1;
}
