.dropdown {
  background-color: $light-1;
  height: 33px;
  cursor: pointer;
  z-index: 998;
  min-width: 325px;
  display: inline-block;
  .option {
    font-family: "ProximaNova";
    font-weight: 400;
    padding-left: 10px;
    line-height: 33px;
    .icon-arrow-down5 {
      color: $light-4;
      font-size: 1.25rem;
      float: right;
      line-height: 33px;
      padding: 0px 8px;
    }
  }
  .values {
    background-color: white;
    border: 2px solid $light-1;
    width: 100%;
    max-height: 168px;
    overflow-y: auto;
    ul {
      margin: 0;
      padding: 0;
      li {
        color: $light-4;
        font-family: "ProximaNova";
        padding: 10px;
        width: 100%;
        text-align: middle;
        list-style: none;
        &:hover {
          color: $light-4;
          background-color: $light-1;
        }
      }
    }
    display: none;
  }
  &:hover {
    .values {
      display: block;
    }
  }
}

.dropdown.dark {
  background-color: $dark-3;
  .option {
    color: $dark-4;
    .icon-arrow-down5 {
      color: $dark-4;
    }
  }
  .values {
    background-color: $dark-0;
    border: 2px solid $dark-3;
    ul {
      li {
        color: $dark-3;
        &:hover {
          color: $dark-4;
          background-color: $dark-1;
        }
      }
    }
  }
}
