.dropdown {
  background-color: $gray-0;
  height: 33px;
  cursor: pointer;
  z-index: 998;
  min-width: 325px;
  display: inline-block;
  .option {
    font-family: "ProximaNova";
    font-weight: 400;
    padding-left: 10px;
    line-height: 33px;
    .icon-arrow-down5 {
      color: $gray-3;
      font-size: 20px;
      float: right;
      line-height: 33px;
      padding: 0px 8px;
    }
  }
  .values {
    background-color: white;
    border: 2px solid $gray-0;
    width: 100%;
    ul {
      margin: 0;
      padding: 0;
      li {
        color: $gray-3;
        font-family: "ProximaNova";
        padding: 10px;
        width: 100%;
        text-align: middle;
        list-style: none;
        &:hover {
          color: $gray-5;
          background-color: $gray-0;
        }
      }
    }
    display: none;
  }
  &:hover {
    .values {
      display: block;
    }
  }
}

.dropdown.dark {
  background-color: $gray-3;
  .option {
    color: $gray-0;
    .icon-arrow-down5 {
      color: $gray-0;
    }
  }
  .values {
    background-color: $gray-6;
    border: 2px solid $gray-3;
    ul {
      li {
        color: $gray-0;
        &:hover {
          background-color: $gray-3;
        }
      }
    }
  }
}
