.error {
  p.error-text {
    display: inline-block;
    color: $red;
    font-family: "Gotham";
    text-transform: uppercase;
    font-size: 12px;
  }
  .icon-warning2 {
    display: inline-block;
    color: $red;
    font-size: 12px;
  }
}
