.formfield {
  height: 31px;
  width: 200px;
  padding: 7px;
  font-family: "ProximaNova";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .3px;
  &:focus {
    -webkit-appearance: none;
    outline: none;
  }
}

.formfield.light {
 background-color: #FFF;
 border: 2px solid #ECECEC;
 color: $gray-5;
 &:focus {
   border: 2px solid $gold;
 }
}

.formfield.dark {
 background-color: rgba(255,255,255,.2);
 border: 2px solid $gray-1;
 color: $gray-0;
 &:focus {
   border: 2px solid $gold;
 }
}
