.formfield {
  height: 31px;
  width: 200px;
  padding: 7px;
  font-family: "ProximaNova";
  font-weight: 400;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .3px;
  &:focus {
    -webkit-appearance: none;
    outline: none;
  }
}

.formfield.light {
 background-color: #FFF;
 border: 2px solid $light-2;
 color: $light-4;
 &:focus {
   border: 2px solid $gold;
 }
}

.formfield.dark {
 background-color: $dark-1;
 border: 2px solid $dark-2;
 color: $dark-4;
 &:focus {
   border: 2px solid $gold;
 }
}
