.modal {
  display: inline-block;
  position: relative;
  background-color: $dark-0;
  min-height: 200px;
  min-width: 300px;
  .modal-navbar {
    background-color: $dark-1;
    height: 50px;
    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        cursor: pointer;
        display: inline-block;
        color: $dark-2;
        padding: 0px 10px;
        line-height: 50px;
        &:first-child {
          padding-left: 20px;
        }
        &:hover {
          color: $light-3;
        }
      }
      li.link-active {
        color: $light-3;
      }
    }
    .icon-cross2 {
      float: right;
      display: inline-block;
      font-size: 1.25rem;
      color: $light-3;
      line-height: 50px;
      padding: 0px 12px;
    }
    .icon-cross2.modal-title-x {
      position: relative;
      top: -50px;
    }
    p.modal-title {
      display: block;
      font-size: .875rem;
      color: $light-3;
      line-height: 50px;
      position: relative;
      left: 38%;
    }
  }
  .modal-resize {
    cursor: nwse-resize;
    height: 0px;
    width: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $dark-3;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    right: -1px;
    bottom: 2px;
  }
}
