.module {
  border: 2px solid #CCC;
  width: 325px;
  padding: 9px;
  cursor: ns-resize;
  .module-sort {
    float: left;
    margin-right: 8px;
    .icon-arrow-up8 {
      font-size: 14px;
      color: #919DA4;
      cursor: pointer;
    }
    .icon-arrow-down8 {
      font-size: 14px;
      color: #31383E;
      cursor: pointer;
    }
  }
  .icon-cross2 {
    font-size: 12px;
    color: #8DA5B3;
    float: right;
    cursor: pointer;
  }
}

.module.light {
  border-color: #CFDFE7;
  background-color: #FEFEFE;
}

.module.dark {
  border-color: #3E484D;
  background-color: #363E43;
  .module-sort {
    .icon-arrow-up8 {
      color: #919DA4;
    }
    .icon-arrow-down8 {
      color: #DDEDF7;
    }
  }
  .icon-cross2 {
    color: #DDEDF7;
  }
}
