.module {
  border: 2px solid #CCC;
  width: 325px;
  padding: 9px;
  cursor: ns-resize;
  .module-sort {
    float: left;
    margin-right: 8px;
    .icon-arrow-up8 {
      font-size: .875rem;
      color: $light-4;
      cursor: pointer;
    }
    .icon-arrow-down8 {
      font-size: .875rem;
      color: $light-3;
      cursor: pointer;
    }
  }
  .icon-cross2 {
    font-size: .75rem;
    color: $light-3;
    float: right;
    cursor: pointer;
  }
}

.module.light {
  border-color: $light-1;
  background-color: #FEFEFE;
}

.module.dark {
  border-color: $dark-1;
  background-color: #363E43;
  .module-sort {
    .icon-arrow-up8 {
      color: $dark-3;
    }
    .icon-arrow-down8 {
      color: $dark-4;
    }
  }
  .icon-cross2 {
    color: $dark-3;
  }
}
