.publish {
  height: 37px;
  background-color: #0DBB6F;
  border-radius: 37px;
  display: inline-block;
  cursor: pointer;
  p {
    font-family: "Gotham";
    font-size: .75rem;
    font-weight: 400;
    color: white;
    letter-spacing: .1rem;
    line-height: 37px;
    color: white;
    margin: 0px 20px;
    text-align: center;
  }
}

.publish-active {
  height: 37px;
  background-color: #FFCB4D;
  border-radius: 37px;
  display: inline-block;
  cursor: pointer;
  .icon-loop3 {
    color: #6C500B;
    margin-left: 19px;
    margin-right: 8px;
    float: left;
    font-size: 1.1rem;
    line-height: 35px;
    position: relative;
    top: 1px;
    transition: -webkit-transform 1s ease;
   }
   p.publish-active {
     color: #6C500B;
     font-family: "Gotham";
     font-size: .75rem;
     font-weight: 400;
     letter-spacing: .1rem;
     line-height: 37px;
     margin-right: 18px;
   }
   &:hover {
     .icon-loop3 {
       -webkit-transform: rotate(360deg);
       /*.class{
       animation-name: out;
       animation-duration:2s;
      }
      .class:hover{
         animation-name: in;
         animation-duration:5s;
         animation-iteration-count:infinite;
      }
      @keyframe in{
          to {transform: rotate(360deg);}
      }
      @keyframe out{
          to {transform: rotate(0deg);}
      }*/
     }
   }
}

.button-save {
  height: 37px;
  border-radius: 37px;
  background-color: #E7E7E7;
  width: 37px;
  border: 2px solid #717171;
  .icon-floppy-disk {
     font-size: 1.1rem;
     text-align: center;
     line-height: 33px;
   }
}
