.radio-on {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #52A0DE;
  box-shadow: inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 4px white;
  transition: box-shadow 0.2s ease;
  transition: background-color 0.2s ease;
}

.radio-on:hover {
  box-shadow: inset 0px 0px 0px 2px #D8D8D8, inset 0px 0px 0px 6px white;
  background-color: #D8D8D8;
}

.radio-off {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #FFF;
  box-shadow: inset 0px 0px 0px 2px #D8D8D8, inset 0px 0px 0px 6px white;
  transition: box-shadow 0.2s ease;
  transition: background-color 0.2s ease;
}

.radio-off:hover {
  box-shadow: inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 6px white;
  background-color:  #52A0DE;
}
