.area.full-width {
  width: 100%;
}
.search {
  .icon-search3 {
    color: $light-3;
    float: right;
    font-size: 2.375rem;
  }
  .search-field {
    height: 40px;
    background-color: white;
    @extend .box-shadow;
    border-radius: 2px;
    width: 400px;
    float: right;
    margin-right: 20px;
    p.search-field-text {
      line-height: 42px;
      text-align: center;
      display: block;
      color: $light-3;
      font-weight: 300;
      font-size: 1.125rem;
      font-family: "Gotham";
      letter-spacing: .2rem;
    }
  }
}
