.sidebar {
  z-index: 99; //Below .header class.
  width: 156px;
  background-color: #364049;
  height: 100%;
  position: fixed;
  top: 56px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, .4);
  padding-top: 15px;
  display: inline-block;
  .button {
    margin: 0px 0px 11px 13px;
  }
  .nav-item {
    z-index: 1000;
    width: 100%;
    height: 50px;
    padding-left: 16px;
    .nav-icon {
      float: left;
      height: 50px;
      vertical-align: middle;
      .nav-icon-style {
        font-size: 1.5rem;
        line-height: 50px;
        display: inline;
        color: #D7D7D7;
      }
    }
    .nav-text {
      position: relative;
      top: 1.2px;
      font-family: "Gotham";
      padding-left: 12px;
      font-size: .625rem;
      font-weight: 400;
      letter-spacing: .17rem;
      display: inline;
      float: left;
      color: #E9E9E9;
      text-transform: uppercase;
      line-height: 50px;
    }
    &:hover {
      background-color: #44525A;
      cursor: pointer;
    }
  }
  .nav-item-list {
    background-color: #2D343A;
    padding: 14px 0px;
    .nav-item-list-item {
      color: #A8AEB4;
      font-family: "Gotham";
      font-weight: 700;
      font-size: .75rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      padding: 14px 15px 14px 15px;
      &:hover {
        color: #E5EEF5;
        cursor: pointer;
      }
    }
  }
  .sidebar-footer {
    z-index: 1;
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
    width: 156px;
    background-color: rgba(54, 64, 73, .9);
    .nav-item {
      height: 12px;
      .nav-icon {
        height: 2px;
        .icon-question4 {
          color: $dark-2;
          font-size: 1.5rem;
          line-height: 50px;
          display: inline;
        }
      }
      .nav-text {
        height: 46px;
        color: $dark-2;
      }
      &:hover {
        .nav-icon {
          .icon-question4 {
            color: $dark-3;
          }
        }
        .nav-text {
          color: $dark-3;
        }
        background-color: #364049;
      }
    }
    .sidebar-footer-link {
      font-size: .625rem;
      color: $dark-2;
      padding-left: 16px;
      padding-bottom: 5px;
      &:hover {
        color: $dark-3;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 58px;
    .button {
      margin: 0px 0px 11px 7px;
    }
    .nav-item {
      .nav-text {
        display: none;
      }
    }
    .nav-item-list {
      position: absolute;
      padding-left: 10px;
      left: 56px;
      top: 120px;
      min-width: 170px;
    }
    .sidebar-footer {
      width: 58px;
      .nav-item {
        .nav-icon {
            height: 40px;
        }
        .nav-text {
          display: none;
        }
      }
      .sidebar-footer-link {
        display: none;
      }
    }
  }
}

// @media only screen and (max-height: 410px) {
//   .sidebar {
//     .sidebar-footer {
//       display: none;
//     }
//   }
// }
