.table {
  max-width: 1040px;
  .row-sort {
    height: 31px;
    background-color: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
    margin-bottom: 2px;
  }
  .row {
    height: 68px;
    background-color: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
    margin-bottom: 2px;
  }
}
