.toggle {
  height: 16px;
  width: 30px;
  border-radius: 16px;
  margin-bottom: 10px;
  .thumb {
    height: 12px;
    width: 16px;
    border-radius: 12px;
    background-color: white;
    position: relative;
    top: 2px;
    left: 2px;
    transition: left .2s ease;
  }
}

.toggle.on {
 background-color: #52A0DE;
 &:hover {
   background-color: $gray-2;
   .thumb {
     left: 4px;
   }
 }
}

.toggle.off {
  background-color: $gray-2;
  .thumb {
    left: 11px;
  }
  &:hover {
    background-color: #52A0DE;
    .thumb {
      left: 9px;
    }
  }
}
