.builder-button-save {
  height: 37px;
  border-radius: 37px;
  background-color: $grey-1;
  width: 37px;
  border: 2px solid $grey-3;
  cursor: pointer;
  .icon-floppy-disk {
     font-size: 1.1rem;
     text-align: center;
     line-height: 33px;
   }
   &:hover {
     background-color: $grey-3;
     .icon-floppy-disk {
       color: $grey-0;
     }
   }
}
