.builder-toolbar {
  .builder-toolbar-item {
    display: inline-block;
    width: 68px;
    height: 55px;
    .builder-toolbar-icon {
      text-align: center;
      font-size: 1.5rem;
      color: $grey-2;
    }
    p.builder-toolbar-item-name {
      text-align: center;
      color: $grey-2;
      font-size: .8125rem;
      font-family: "ProximaNova";
      font-weight: 500;
      position: relative;
      top: 10px;
      letter-spacing: .05rem;
      display: block;
    }
  }
  .builder-toolbar-item.wide {
    width: 88px;
  }
}
