.builder-button {
  width: 37px;
  height: 37px;
  border-radius: 37px;
  background-color: $grey-1;
  border: 2px solid $grey-3;
  cursor: pointer;
  .builder-button-icon {
    font-size: 1.1rem;
    text-align: center;
    line-height: 33px;
    color: $grey-3;
   }
   &:hover {
     background-color: $grey-3;
     .builder-button-icon {
       color: $grey-0;
     }
   }
}

.builder-button.inactive {
  background-color: #FFF;
  border-color: $grey-2;
  cursor: default;
  .builder-button-icon {
    color: $grey-2;
  }
}
