/* PROXIMA NOVA */
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.otf");
  font-weight: 500;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Black.otf");
  font-weight: 900;
}

/* GOTHAM */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/GothaLig");
  font-weight: 200;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/GothaBoo");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/GothaMed");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/GothaBol");
  font-weight: 700;
}

/* BLUE */
/* GREEN */
/* ORANGE */
/* GRAY */
/* GOLD */
/* RED */
.checkbox {
  height: 16px;
  width: 16px;
}

.checkbox .icon-checkmark {
  position: relative;
  left: 2px;
  top: 2px;
  color: white;
  font-size: 12px;
}

.checkbox.on {
  background-color: #52A0DE;
  color: white;
}

.checkbox.off {
  box-shadow: inset 0 0 0 2px #D8D8D8;
}

.checkbox.off.dark {
  background-color: rgba(255, 255, 255, 0.2);
}

.radio-on {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #52A0DE;
  box-shadow: inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 4px white;
  transition: box-shadow 1s ease;
  transition: background-color 1s ease;
  margin-bottom: 10px;
}

.radio-on:hover {
  box-shadow: inset 0px 0px 0px 2px #D8D8D8, inset 0px 0px 0px 6px white;
  background-color: #D8D8D8;
}

.radio-off {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #EDECED;
  box-shadow: inset 0px 0px 0px 2px #D8D8D8, inset 0px 0px 0px 6px white;
  transition: box-shadow 1s ease;
  transition: background-color 1s ease;
  margin-bottom: 10px;
}

.radio-off:hover {
  box-shadow: inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 6px white;
  background-color: #52A0DE;
}

.radio-on-dark {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #52A0DE;
  box-shadow: inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 4px white;
  transition: box-shadow 1s ease;
  transition: background-color 1s ease;
  margin-bottom: 10px;
}

.radio-off-dark {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.8), inset 0px 0px 0px 6px rgba(0, 0, 0, 0.6);
  transition: box-shadow 1s ease;
  transition: background-color 1s ease;
  margin-bottom: 10px;
}

.dropdown {
  background-color: #e4eaee;
  width: 200px;
  height: 33px;
}

.dropdown .option {
  font-family: "ProximaNova";
  font-weight: 400;
  padding-left: 10px;
  line-height: 33px;
}

.dropdown .option .right {
  padding-right: 10px;
  float: right;
}

.dropdown .values {
  background-color: white;
  border: 2px solid #e4eaee;
  width: 100%;
  display: none;
}

.dropdown .values ul {
  margin: 0;
  padding: 0;
}

.dropdown .values ul li {
  color: #758590;
  font-family: "ProximaNova";
  padding: 10px;
  width: 100%;
  text-align: middle;
  list-style: none;
}

.dropdown .values ul li:hover {
  color: #40494e;
  background-color: #e4eaee;
}

.dropdown:hover .values {
  display: block;
}

.dropdown-dark {
  background-color: #758590;
  width: 200px;
  height: 33px;
}

.dropdown-dark .option {
  font-family: "ProximaNova";
  font-weight: 400;
  color: #e4eaee;
  padding-left: 10px;
  line-height: 33px;
}

.dropdown-dark .option .right {
  padding-right: 10px;
  float: right;
}

.dropdown-dark .values {
  background-color: #252b31;
  border: 2px solid #758590;
  width: 100%;
  display: none;
}

.dropdown-dark .values ul {
  margin: 0;
  padding: 0;
}

.dropdown-dark .values ul li {
  color: #e4eaee;
  font-family: "ProximaNova";
  padding: 10px;
  width: 100%;
  text-align: middle;
  list-style: none;
}

.dropdown-dark .values ul li:hover {
  background-color: #758590;
}

.dropdown-dark:hover .values {
  display: block;
  cursor: pointer;
}

.button {
  height: 40px;
  width: 127px;
  border-radius: 4px;
  margin: 0px auto 12px;
  background-color: black;
}

@media only screen and (max-width: 768px) {
  .button {
    width: 42px;
  }
}

.button-blue {
  background-color: #1b8ce4;
  transition: background-color .2s ease;
}

.button-blue:hover {
  background-color: #2970aa;
  cursor: pointer;
}

.button-green {
  background-color: #0fb162;
  transition: background-color .2s ease;
}

.button-green .button-text {
  letter-spacing: 3px;
  font-size: 1.1rem;
}

.button-green:hover {
  background-color: #1f9b50;
  cursor: pointer;
}

.button-icon {
  color: white;
  font-size: 30px;
  position: relative;
  top: -1px;
  left: 11px;
  float: left;
}

@media only screen and (max-width: 768px) {
  .button-icon {
    padding: 1px;
  }
}

.button-text {
  color: white;
  text-transform: uppercase;
  font-family: "ProximaNova";
  letter-spacing: 1.5px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 40px;
}

@media only screen and (max-width: 768px) {
  .button-text {
    display: none;
  }
}

.formfield {
  height: 31px;
  width: 200px;
  padding: 7px;
  font-family: "ProximaNova";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .3px;
}

.formfield:focus {
  -webkit-appearance: none;
  outline: none;
}

.formfield.light {
  background-color: #FFF;
  border: 2px solid #ECECEC;
  color: #40494e;
}

.formfield.light:focus {
  border: 2px solid #ffcb4d;
}

.formfield.dark {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #cfe2ee;
  color: #e4eaee;
}

.formfield.dark:focus {
  border: 2px solid #ffcb4d;
}

.table {
  max-width: 1040px;
}

.table .row-sort {
  height: 31px;
  background-color: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
}

.table .row {
  height: 68px;
  background-color: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
}

.toggle {
  height: 16px;
  width: 30px;
  border-radius: 16px;
  margin-bottom: 10px;
}

.toggle .thumb {
  height: 12px;
  width: 16px;
  border-radius: 12px;
  background-color: white;
  position: relative;
  top: 2px;
  left: 2px;
  transition: left .2s ease;
}

.toggle.on {
  background-color: #52A0DE;
}

.toggle.on:hover {
  background-color: #879dac;
}

.toggle.on:hover .thumb {
  left: 4px;
}

.toggle.off {
  background-color: #879dac;
}

.toggle.off .thumb {
  left: 11px;
}

.toggle.off:hover {
  background-color: #52A0DE;
}

.toggle.off:hover .thumb {
  left: 9px;
}

input {
  background-color: rgba(255, 255, 255, 0);
}

[type=range] {
  -webkit-appearance: none;
  margin: 9px 0;
  width: 100%;
}

[type=range]:focus {
  outline: none;
}

[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  transition: all .2s ease;
  background: #ECECEC;
  border: 0px solid #000;
  border-radius: 5px;
}

[type=range]::-webkit-slider-thumb {
  border: 0px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  background: #52A0DE;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}

[type=range]:focus::-webkit-slider-runnable-track {
  background: #f9f9f9;
}

[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  transition: all .2s ease;
  background: #ECECEC;
  border: 0px solid #000;
  border-radius: 5px;
}

[type=range]::-moz-range-thumb {
  border: 0px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  background: #52A0DE;
  cursor: pointer;
}

[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  transition: all .2s ease;
  background: transparent;
  border-color: transparent;
  border-width: 18px 0;
  color: transparent;
}

[type=range]::-ms-fill-lower {
  background: #dfdfdf;
  border: 0px solid #000;
  border-radius: 10px;
}

[type=range]::-ms-fill-upper {
  background: #ECECEC;
  border: 0px solid #000;
  border-radius: 10px;
}

[type=range]::-ms-thumb {
  border: 0px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  background: #52A0DE;
  cursor: pointer;
}

[type=range]:focus::-ms-fill-lower {
  background: #ECECEC;
}

[type=range]:focus::-ms-fill-upper {
  background: #f9f9f9;
}

.breadcrumb {
  padding-bottom: 10px;
}

.breadcrumb .icon-arrow-left3.small {
  float: left;
  font-size: 12px;
  margin-right: 5px;
  color: #C1C1C1;
}

.breadcrumb .breadcrumb-text {
  float: left;
  font-family: "Gotham";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #C1C1C1;
}

.publish {
  height: 37px;
  width: 100px;
  background-color: #0DBB6F;
  font-family: "Gotham";
  font-size: .75rem;
  font-weight: 400;
  color: white;
  letter-spacing: .1rem;
  line-height: 37px;
  border-radius: 37px;
  text-align: center;
  margin-bottom: 10px;
}

.publish-active {
  height: 37px;
  background-color: #FFCB4D;
  color: #6C500B;
  font-family: "Gotham";
  font-size: .75rem;
  font-weight: 400;
  border-radius: 37px;
  width: 130px;
  margin-bottom: 10px;
  letter-spacing: .1rem;
  line-height: 37px;
}

.publish-active .icon-loop3 {
  color: #6C500B;
  margin-left: 20px;
  margin-right: 8px;
  float: left;
  font-size: 1.1rem;
  text-align: center;
  line-height: 35px;
}

.button-save {
  height: 37px;
  border-radius: 37px;
  background-color: #E7E7E7;
  width: 37px;
  border: 2px solid #717171;
}

.button-save .icon-floppy-disk {
  font-size: 1.1rem;
  text-align: center;
  line-height: 33px;
}

.tooltip .tooltip-content {
  height: 31px;
  background-color: #424E56;
  border-radius: 2px;
  color: white;
  line-height: 31px;
  font-family: "Gotham";
  font-size: 13px;
  padding: 0px 10px;
  width: 310px;
}

.tooltip .tooltip-triangle {
  height: 16px;
  width: 16px;
  background-color: #424E56;
  position: relative;
  top: -39px;
  right: -250px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.module {
  border: 2px solid #CCC;
  width: 325px;
  padding: 9px;
}

.module .module-sort {
  float: left;
  height: 100%;
  margin-right: 8px;
}

.module .module-sort .icon-arrow-up8 {
  font-size: 14px;
  color: #919DA4;
}

.module .module-sort .icon-arrow-down8 {
  font-size: 14px;
  color: #31383E;
}

.module .icon-cross2 {
  font-size: 12px;
  color: #8DA5B3;
  float: right;
}

.module.light {
  border-color: #CFDFE7;
  background-color: #FEFEFE;
}

.module.dark {
  border-color: #3E484D;
  background-color: #363E43;
}

.sidebar {
  z-index: 99;
  width: 156px;
  background-color: #364049;
  height: 100%;
  position: fixed;
  top: 56px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.4);
  padding-top: 15px;
}

.sidebar .nav-item {
  width: 100%;
  height: 50px;
  padding-left: 16px;
}

.sidebar .nav-item .nav-icon {
  float: left;
  height: 50px;
  vertical-align: middle;
}

.sidebar .nav-item .nav-icon .icon-pencil {
  font-size: 24px;
  line-height: 50px;
  display: inline;
  color: #D7D7D7;
}

.sidebar .nav-item .nav-icon .icon-stats-bars {
  font-size: 24px;
  line-height: 50px;
  display: inline;
  color: #D7D7D7;
}

.sidebar .nav-item .nav-icon .icon-display {
  font-size: 24px;
  line-height: 50px;
  display: inline;
  color: #D7D7D7;
}

.sidebar .nav-item .nav-icon .icon-cogs {
  font-size: 24px;
  line-height: 50px;
  display: inline;
  color: #D7D7D7;
}

.sidebar .nav-item .nav-text {
  position: relative;
  top: 1.2px;
  font-family: "Gotham";
  padding-left: 12px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: .17rem;
  display: inline;
  float: left;
  color: #E9E9E9;
  text-transform: uppercase;
  line-height: 50px;
}

.sidebar .nav-item:hover {
  background-color: #44525A;
  cursor: pointer;
}

.sidebar .nav-item-list {
  background-color: #2D343A;
  padding: 14px 0px;
}

.sidebar .nav-item-list .nav-item-list-item {
  color: #A8AEB4;
  font-family: "Gotham";
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 14px 15px 14px 15px;
}

.sidebar .nav-item-list .nav-item-list-item:hover {
  color: #E5EEF5;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .sidebar .nav-item-list {
    position: absolute;
    padding-left: 10px;
    left: 56px;
    top: 120px;
    min-width: 170px;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 58px;
  }
  .sidebar .nav-item .nav-text {
    display: none;
  }
}

.header {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  height: 56px;
  padding: 12px 0px;
  position: fixed;
  z-index: 100;
}

.header .logo {
  margin-left: 15px;
  height: 100%;
  background-size: contain;
  background-image: url("../images/SnapApp-Logo-2015.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position: left center;
}

.swatch {
  height: 40px;
  width: 100%;
  background-color: black;
  margin-bottom: 10px;
}

.swatch .hex {
  font-family: "ProximaNova";
  font-size: 1rem;
  color: white;
  line-height: 40px;
  padding-left: 10px;
  font-weight: 700;
  opacity: .8;
}

.swatch .darken {
  color: black;
  opacity: .6;
}

.blue {
  background-color: #1b8ce4;
}

.dark-blue {
  background-color: #2970aa;
}

.light-blue {
  background-color: #52a0de;
}

.green {
  background-color: #0fb162;
}

.dark-green {
  background-color: #1f9b50;
}

.light-green {
  background-color: #89be9e;
}

.gold {
  background-color: #ffcb4d;
}

.red {
  background-color: #e65e5e;
}

.gray-0 {
  background-color: #e4eaee;
}

.gray-1 {
  background-color: #cfe2ee;
}

.gray-2 {
  background-color: #879dac;
}

.gray-3 {
  background-color: #758590;
}

.gray-4 {
  background-color: #677984;
}

.gray-5 {
  background-color: #40494e;
}

.gray-6 {
  background-color: #252b31;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: "ProximaNova";
  margin: 10px 10px 5px 0px;
  text-transform: uppercase;
}

h1 {
  font-weight: 200;
  letter-spacing: .4rem;
  color: #4D4D4D;
  font-size: 1.375rem;
}

h1.light {
  color: #EAF2FA;
}

h2 {
  font-weight: 200;
  letter-spacing: .1rem;
  color: #797979;
  font-size: 1.125rem;
}

h2.light {
  color: #BECAD5;
}

h3 {
  font-weight: 500;
  letter-spacing: .1rem;
  color: #7B7B7B;
  font-size: .875rem;
}

h3.light {
  color: #BECAD5;
}

h4 {
  font-weight: 400;
  letter-spacing: .1rem;
  color: #959595;
  font-size: .875rem;
}

h4.light {
  color: #BECAD5;
}

p.proxima-nova {
  font-weight: 400;
  color: #717171;
  letter-spacing: .1rem;
  line-height: 1.2rem;
  font-size: .8125rem;
}

p.light {
  color: #BECAD5;
}

h1.gotham {
  font-family: "Gotham";
  opacity: .6;
  font-size: 1.375rem;
}

h2.gotham {
  font-family: "Gotham";
  font-size: 1.125rem;
}

h3.gotham {
  font-family: "Gotham";
  font-size: .875rem;
}

h4.gotham {
  font-family: "Gotham";
  font-size: .875rem;
}

p.gotham {
  font-family: "Gotham";
  line-height: 1.4rem;
  font-weight: 200;
  font-size: .8125rem;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/IcoMoon/icomoon.eot?7h3y9d");
  src: url("../fonts/IcoMoon/icomoon.eot?7h3y9d#iefix") format("embedded-opentype"), url("../fonts/IcoMoon/icomoon.ttf?7h3y9d") format("truetype"), url("../fonts/IcoMoon/icomoon.woff?7h3y9d") format("woff"), url("../fonts/IcoMoon/icomoon.svg?7h3y9d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  font-size: 2.5rem;
  color: #4B5054;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e90e";
}

.icon-pencil2:before {
  content: "\e90f";
}

.icon-brush:before {
  content: "\e928";
}

.icon-paint-format:before {
  content: "\e938";
}

.icon-image:before {
  content: "\e93b";
}

.icon-files-empty:before {
  content: "\e99f";
}

.icon-file-download2:before {
  content: "\e9a6";
}

.icon-file-upload2:before {
  content: "\e9a8";
}

.icon-copy4:before {
  content: "\e9c8";
}

.icon-stack2:before {
  content: "\e9ce";
}

.icon-folder-open2:before {
  content: "\e9e8";
}

.icon-calculator:before {
  content: "\ea17";
}

.icon-compass6:before {
  content: "\ea44";
}

.icon-clock:before {
  content: "\ea4d";
}

.icon-display:before {
  content: "\ea73";
}

.icon-mobile:before {
  content: "\ea78";
}

.icon-download:before {
  content: "\ea87";
}

.icon-upload:before {
  content: "\ea88";
}

.icon-floppy-disk:before {
  content: "\ea89";
}

.icon-redo:before {
  content: "\eaa6";
}

.icon-bubble:before {
  content: "\eac4";
}

.icon-user-plus:before {
  content: "\eaf9";
}

.icon-zoom-in2:before {
  content: "\eb34";
}

.icon-zoom-out2:before {
  content: "\eb35";
}

.icon-search3:before {
  content: "\eb36";
}

.icon-cog:before {
  content: "\eb5f";
}

.icon-cogs:before {
  content: "\eb60";
}

.icon-stats-bars:before {
  content: "\eb88";
}

.icon-trophy2:before {
  content: "\eba7";
}

.icon-meter:before {
  content: "\ebde";
}

.icon-meter-fast:before {
  content: "\ebe2";
}

.icon-bin:before {
  content: "\ebfd";
}

.icon-bin2:before {
  content: "\ebfe";
}

.icon-brain:before {
  content: "\ec27";
}

.icon-clipboard2:before {
  content: "\ec51";
}

.icon-clipboard6:before {
  content: "\ec55";
}

.icon-grid7:before {
  content: "\ec63";
}

.icon-tree7:before {
  content: "\ec66";
}

.icon-menu:before {
  content: "\ec6a";
}

.icon-download4:before {
  content: "\ec83";
}

.icon-eye:before {
  content: "\ecae";
}

.icon-warning2:before {
  content: "\ed50";
}

.icon-question4:before {
  content: "\ed56";
}

.icon-plus2:before {
  content: "\ed5b";
}

.icon-plus3:before {
  content: "\ed5d";
}

.icon-plus-circle2:before {
  content: "\ed61";
}

.icon-info:before {
  content: "\ed63";
}

.icon-cross2:before {
  content: "\ed6d";
}

.icon-checkmark:before {
  content: "\ed6f";
}

.icon-loop3:before {
  content: "\edaa";
}

.icon-arrow-up3:before {
  content: "\edb9";
}

.icon-arrow-right3:before {
  content: "\edbd";
}

.icon-arrow-down3:before {
  content: "\edc1";
}

.icon-arrow-left3:before {
  content: "\edc5";
}

.icon-arrow-up5:before {
  content: "\edc7";
}

.icon-arrow-right5:before {
  content: "\edc8";
}

.icon-arrow-down5:before {
  content: "\edc9";
}

.icon-arrow-left5:before {
  content: "\edca";
}

.icon-arrow-left6:before {
  content: "\edd2";
}

.icon-arrow-up8:before {
  content: "\eddc";
}

.icon-arrow-right8:before {
  content: "\edde";
}

.icon-arrow-down8:before {
  content: "\ede0";
}

.icon-arrow-left8:before {
  content: "\ede2";
}

.icon-checkbox-partial:before {
  content: "\ee68";
}

.icon-width:before {
  content: "\ee96";
}

.icon-embed:before {
  content: "\eecc";
}

.icon-share3:before {
  content: "\eee0";
}

.icon-youtube:before {
  content: "\eefc";
}

/* Column of a layout */
.section {
  width: 325px;
  margin-right: 39px;
  margin-bottom: 24px;
}

/* Area of a section that is specific to a set of related componenets */
.block {
  width: 100%;
  margin-bottom: 24px;
}

/* Individually isolated components */
.fragment {
  width: 100%;
  margin-bottom: 11px;
}

/* ----------------------------------------------- */
/* IGNORE THESE ELEMENTS, USED FOR THE UI KIT ONLY */
/* ----------------------------------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background-color: white;
}

html, body, p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-family: "ProximaNova";
  font-size: 14px;
  color: #7B7B7B;
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 10px;
}

/* BASE COLORS */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

.top {
  width: 100%;
  margin-bottom: 24px;
}

.content-wrapper {
  margin: 50px 50px;
}

.back a {
  color: #c8c8c8;
  text-decoration: none;
}

.back a:hover {
  color: #323232;
}

.area {
  background-color: #F9F9F9;
  margin: 30px 0px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 0px 2px #EEE;
}

.area-dark {
  background-color: #252B31;
  margin: 30px 0px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 0px 2px #666;
}

.area-dark p {
  color: #DDD;
}

.toc {
  padding: 20px;
}

.toc h1 {
  margin-top: 20px;
  display: block;
  color: #c8c8c8;
  text-decoration: none;
  font-size: 24px;
}

.toc a {
  margin: 10px 0px;
  display: block;
  color: #FF4C1F;
  text-decoration: none;
  font-size: 20px;
}

.toc a.done {
  color: #969696;
}

/* Move to content.scss */
.content {
  padding: 85px 0px 0px 200px;
  background-color: #F9F9F9;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 85px 0px 0px 92px;
  }
}
