/* BLUE */
/* GREEN */
/* ORANGE */
/* BASE COLORS */
/* Increasing in numerical value is representative of increase in contrast with base shade. Dark-1 = low contrast with dark base color. Light-4 = high contrast with light base color. */
/* GREYS */
/* Used only in the builder. */
/* GOLD */
/* RED */
.swatch {
  height: 40px;
  width: 100%;
  background-color: black;
  margin-bottom: 10px;
}

.swatch .hex {
  font-family: "ProximaNova";
  font-size: 1rem;
  color: white;
  line-height: 40px;
  padding-left: 10px;
  font-weight: 700;
  opacity: .8;
}

.swatch .darken {
  color: black;
  opacity: .6;
}

.blue {
  background-color: #1B8CE4;
}

.blue-dark {
  background-color: #2970AA;
}

.blue-light {
  background-color: #52A0DE;
}

.green {
  background-color: #0FB162;
}

.green-dark {
  background-color: #1F9B50;
}

.green-light {
  background-color: #89BE9E;
}

.gold {
  background-color: #FFCB4D;
}

.red {
  background-color: #E65E5E;
}

.light-0 {
  background-color: #F8F9FB;
}

.light-1 {
  background-color: #E8EDF0;
}

.light-2 {
  background-color: #D9DFE4;
}

.light-3 {
  background-color: #BECAD5;
}

.light-4 {
  background-color: #646C73;
}

.dark-0 {
  background-color: #252B31;
}

.dark-1 {
  background-color: #40494E;
}

.dark-2 {
  background-color: #6C7D87;
}

.dark-3 {
  background-color: #879DAC;
}

.dark-4 {
  background-color: #DDE6EC;
}

.dark-new {
  background-color: #546571;
}

/* PROXIMA NOVA */
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.otf");
  font-weight: 500;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Black.otf");
  font-weight: 900;
}

/* GOTHAM */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/GothaLig");
  font-weight: 200;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/GothaBoo");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/GothaMed");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/GothaBol");
  font-weight: 700;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: "ProximaNova";
  margin: 10px 10px 5px 0px;
  text-transform: uppercase;
}

h1 {
  font-weight: 200;
  letter-spacing: .4rem;
  color: #4D4D4D;
  font-size: 1.375rem;
}

h1.light {
  color: #EAF2FA;
}

h2 {
  font-weight: 200;
  letter-spacing: .1rem;
  color: #797979;
  font-size: 1.125rem;
}

h2.light {
  color: #BECAD5;
}

h3 {
  font-weight: 500;
  letter-spacing: .1rem;
  color: #7B7B7B;
  font-size: .875rem;
}

h3.light {
  color: #BECAD5;
}

h4 {
  font-weight: 400;
  letter-spacing: .1rem;
  color: #959595;
  font-size: .875rem;
}

h4.light {
  color: #BECAD5;
}

p.proxima-nova {
  font-weight: 400;
  color: #717171;
  letter-spacing: .1rem;
  line-height: 1.2rem;
  font-size: .8125rem;
}

p.light {
  color: #BECAD5;
}

h1.gotham {
  font-family: "Gotham";
  opacity: .6;
  font-size: 1.375rem;
}

h2.gotham {
  font-family: "Gotham";
  font-size: 1.125rem;
}

h3.gotham {
  font-family: "Gotham";
  font-size: .875rem;
}

h4.gotham {
  font-family: "Gotham";
  font-size: .875rem;
}

p.gotham {
  font-family: "Gotham";
  line-height: 1.4rem;
  font-weight: 200;
  font-size: .8125rem;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/IcoMoon/icomoon.eot?7h3y9d");
  src: url("../fonts/IcoMoon/icomoon.eot?7h3y9d#iefix") format("embedded-opentype"), url("../fonts/IcoMoon/icomoon.ttf?7h3y9d") format("truetype"), url("../fonts/IcoMoon/icomoon.woff?7h3y9d") format("woff"), url("../fonts/IcoMoon/icomoon.svg?7h3y9d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  font-size: 2.5rem;
  color: #4B5054;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e90e";
}

.icon-pencil2:before {
  content: "\e90f";
}

.icon-brush:before {
  content: "\e928";
}

.icon-paint-format:before {
  content: "\e938";
}

.icon-image:before {
  content: "\e93b";
}

.icon-video-camera3:before {
  content: "\e965";
}

.icon-file-empty:before {
  content: "\e99d";
}

.icon-files-empty:before {
  content: "\e99f";
}

.icon-file-download2:before {
  content: "\e9a6";
}

.icon-file-upload2:before {
  content: "\e9a8";
}

.icon-copy4:before {
  content: "\e9c8";
}

.icon-stack2:before {
  content: "\e9ce";
}

.icon-folder-open2:before {
  content: "\e9e8";
}

.icon-calculator:before {
  content: "\ea17";
}

.icon-compass6:before {
  content: "\ea44";
}

.icon-clock:before {
  content: "\ea4d";
}

.icon-display:before {
  content: "\ea73";
}

.icon-mobile:before {
  content: "\ea78";
}

.icon-download:before {
  content: "\ea87";
}

.icon-upload:before {
  content: "\ea88";
}

.icon-floppy-disk:before {
  content: "\ea89";
}

.icon-redo:before {
  content: "\eaa6";
}

.icon-bubble:before {
  content: "\eac4";
}

.icon-user-plus:before {
  content: "\eaf9";
}

.icon-zoom-in2:before {
  content: "\eb34";
}

.icon-zoom-out2:before {
  content: "\eb35";
}

.icon-search3:before {
  content: "\eb36";
}

.icon-cog:before {
  content: "\eb5f";
}

.icon-cogs:before {
  content: "\eb60";
}

.icon-stats-bars:before {
  content: "\eb88";
}

.icon-trophy2:before {
  content: "\eba7";
}

.icon-meter:before {
  content: "\ebde";
}

.icon-meter-fast:before {
  content: "\ebe2";
}

.icon-bin:before {
  content: "\ebfd";
}

.icon-bin2:before {
  content: "\ebfe";
}

.icon-brain:before {
  content: "\ec27";
}

.icon-clipboard2:before {
  content: "\ec51";
}

.icon-clipboard5:before {
  content: "\ec54";
}

.icon-clipboard6:before {
  content: "\ec55";
}

.icon-grid7:before {
  content: "\ec63";
}

.icon-tree7:before {
  content: "\ec66";
}

.icon-menu:before {
  content: "\ec6a";
}

.icon-download4:before {
  content: "\ec83";
}

.icon-eye:before {
  content: "\ecae";
}

.icon-stack-picture:before {
  content: "\ed3f";
}

.icon-warning2:before {
  content: "\ed50";
}

.icon-question4:before {
  content: "\ed56";
}

.icon-question6:before {
  content: "\ed58";
}

.icon-plus2:before {
  content: "\ed5b";
}

.icon-plus3:before {
  content: "\ed5d";
}

.icon-plus-circle2:before {
  content: "\ed61";
}

.icon-info:before {
  content: "\ed63";
}

.icon-cross2:before {
  content: "\ed6d";
}

.icon-checkmark:before {
  content: "\ed6f";
}

.icon-loop3:before {
  content: "\edaa";
}

.icon-arrow-up3:before {
  content: "\edb9";
}

.icon-arrow-right3:before {
  content: "\edbd";
}

.icon-arrow-down3:before {
  content: "\edc1";
}

.icon-arrow-left3:before {
  content: "\edc5";
}

.icon-arrow-up5:before {
  content: "\edc7";
}

.icon-arrow-right5:before {
  content: "\edc8";
}

.icon-arrow-down5:before {
  content: "\edc9";
}

.icon-arrow-left5:before {
  content: "\edca";
}

.icon-arrow-left6:before {
  content: "\edd2";
}

.icon-arrow-up8:before {
  content: "\eddc";
}

.icon-arrow-right8:before {
  content: "\edde";
}

.icon-arrow-down8:before {
  content: "\ede0";
}

.icon-arrow-left8:before {
  content: "\ede2";
}

.icon-checkbox-partial:before {
  content: "\ee68";
}

.icon-height2:before {
  content: "\ee95";
}

.icon-width:before {
  content: "\ee96";
}

.icon-embed:before {
  content: "\eecc";
}

.icon-share3:before {
  content: "\eee0";
}

.icon-youtube:before {
  content: "\eefc";
}

.box-shadow, .search .search-field, .builder-canvas {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.breadcrumb {
  padding-bottom: 10px;
}

.breadcrumb .icon-arrow-left3.small {
  float: left;
  font-size: 12px;
  margin-right: 5px;
  color: #C1C1C1;
}

.breadcrumb .breadcrumb-text {
  float: left;
  font-family: "Gotham";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #C1C1C1;
}

.button {
  height: 40px;
  width: 127px;
  border-radius: 4px;
  background-color: black;
}

@media only screen and (max-width: 768px) {
  .button {
    width: 42px;
  }
}

.button-blue {
  background-color: #1B8CE4;
  transition: background-color .2s ease;
}

.button-blue .icon-file-upload2 {
  float: left;
  color: white;
  font-size: 1.1rem;
  line-height: 40px;
  margin-left: 10px;
}

.button-blue:hover {
  background-color: #2970AA;
  cursor: pointer;
}

.button-green {
  background-color: #0FB162;
  transition: background-color .2s ease;
}

.button-green .icon-plus3 {
  float: left;
  color: white;
  font-size: 1.1rem;
  line-height: 40px;
  text-align: center;
  margin-left: 11px;
}

.button-green .button-text {
  letter-spacing: 3px;
  font-size: 1.1rem;
}

.button-green:hover {
  background-color: #1F9B50;
  cursor: pointer;
}

.button-icon {
  color: white;
  font-size: 30px;
  position: relative;
  top: -1px;
  left: 11px;
  float: left;
}

@media only screen and (max-width: 768px) {
  .button-icon {
    padding: 1px;
  }
}

.button-text {
  color: white;
  text-transform: uppercase;
  font-family: "ProximaNova";
  letter-spacing: 1.5px;
  font-weight: 500;
  line-height: 42px;
  padding-left: 40px;
}

@media only screen and (max-width: 768px) {
  .button-text {
    display: none;
  }
}

.checkbox {
  height: 16px;
  width: 16px;
}

.checkbox .icon-checkmark {
  position: relative;
  left: 2px;
  top: 2px;
  color: white;
  font-size: 12px;
}

.checkbox.on {
  background-color: #52A0DE;
  color: white;
}

.checkbox.off {
  box-shadow: inset 0 0 0 2px #D9DFE4;
}

.checkbox.off.dark {
  background-color: #40494E;
}

.colorpicker {
  width: 52px;
  height: 40px;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  background-color: #E8EDF0;
}

.colorpicker .colorpicker-current {
  display: inline-block;
  width: 62%;
  height: 100%;
  background-color: yellow;
  float: left;
  margin-right: 2px;
}

.colorpicker .icon-arrow-down5 {
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  color: #656565;
  float: left;
}

.colorpicker.dark {
  background-color: #40494E;
}

.colorpicker.dark .icon-arrow-down5 {
  color: #C8D3DD;
}

.dropdown {
  background-color: #E8EDF0;
  height: 33px;
  cursor: pointer;
  z-index: 998;
  min-width: 325px;
  display: inline-block;
}

.dropdown .option {
  font-family: "ProximaNova";
  font-weight: 400;
  padding-left: 10px;
  line-height: 33px;
}

.dropdown .option .icon-arrow-down5 {
  color: #646C73;
  font-size: 20px;
  float: right;
  line-height: 33px;
  padding: 0px 8px;
}

.dropdown .values {
  background-color: white;
  border: 2px solid #E8EDF0;
  width: 100%;
  max-height: 168px;
  overflow-y: auto;
  display: none;
}

.dropdown .values ul {
  margin: 0;
  padding: 0;
}

.dropdown .values ul li {
  color: #646C73;
  font-family: "ProximaNova";
  padding: 10px;
  width: 100%;
  text-align: middle;
  list-style: none;
}

.dropdown .values ul li:hover {
  color: #646C73;
  background-color: #E8EDF0;
}

.dropdown:hover .values {
  display: block;
}

.dropdown.dark {
  background-color: #879DAC;
}

.dropdown.dark .option {
  color: #DDE6EC;
}

.dropdown.dark .option .icon-arrow-down5 {
  color: #DDE6EC;
}

.dropdown.dark .values {
  background-color: #252B31;
  border: 2px solid #879DAC;
}

.dropdown.dark .values ul li {
  color: #879DAC;
}

.dropdown.dark .values ul li:hover {
  color: #DDE6EC;
  background-color: #40494E;
}

.error p.error-text {
  display: inline-block;
  color: #E65E5E;
  font-family: "Gotham";
  text-transform: uppercase;
  font-size: 12px;
}

.error .icon-warning2 {
  display: inline-block;
  color: #E65E5E;
  font-size: 12px;
}

.filter {
  display: inline-block;
  border-radius: 4px;
  height: 25px;
  background-color: #E8EDF0;
}

.filter p.filter-type {
  display: inline-block;
  line-height: 25px;
  padding-left: 10px;
  color: #9CA2A6;
  padding: 0px 0px 0px 10px;
}

.filter p.filter-selected {
  padding: 0px 0px 0px 1px;
  display: inline-block;
  line-height: 25px;
  color: #656B70;
}

.filter .icon-arrow-down3 {
  display: inline-block;
  font-size: 10px;
  padding-right: 10px;
}

.filter .filter-options {
  width: 100%;
  background-color: #E8EDF0;
  border-radius: 0px 0px 4px 4px;
  position: relative;
  top: -2px;
  display: none;
}

.filter .filter-options p {
  padding: 8px 10px 5px 10px;
  color: #91A3B2;
}

.filter .filter-options p:hover {
  color: #657B8C;
}

.filter .filter-options p:last-child {
  padding-bottom: 10px;
}

.filter:hover {
  background-color: #D3DDE3;
  cursor: pointer;
}

.filter:hover p.filter-type {
  color: #6E8497;
}

.filter:hover p.filter-selected {
  color: #224A6B;
}

.filter:hover .icon-arrow-down3 {
  color: #6E8497;
}

.filter:hover .filter-options {
  display: block;
}

.formfield {
  height: 31px;
  width: 200px;
  padding: 7px;
  font-family: "ProximaNova";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .3px;
}

.formfield:focus {
  -webkit-appearance: none;
  outline: none;
}

.formfield.light {
  background-color: #FFF;
  border: 2px solid #D9DFE4;
  color: #646C73;
}

.formfield.light:focus {
  border: 2px solid #FFCB4D;
}

.formfield.dark {
  background-color: #40494E;
  border: 2px solid #6C7D87;
  color: #DDE6EC;
}

.formfield.dark:focus {
  border: 2px solid #FFCB4D;
}

.header {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  height: 56px;
  padding: 12px 0px;
  position: fixed;
  z-index: 9999;
}

.header .logo {
  margin-left: 15px;
  height: 100%;
  background-size: contain;
  background-image: url("../images/SnapApp-Logo-2015.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position: left center;
}

.header.builder {
  position: relative;
  top: 100px;
  padding: 0px;
}

.header.builder .logo {
  width: 82px;
  margin-left: 0px;
  background-image: url("../images/SnapApp-Icon-2015-white.svg");
  background-color: #036CC2;
  background-position: center;
  background-size: 32px;
  display: inline-block;
}

.header.builder .icon-arrow-left3 {
  display: inline-block;
  font-size: 20px;
  position: relative;
  top: 3px;
  margin-left: 10px;
  color: #D4D4D4;
}

.header.builder .header-app-type {
  display: inline-block;
}

.header.builder .header-app-type .icon-compass6 {
  font-size: 28px;
  position: relative;
  top: 6px;
  color: #656565;
}

.header.builder .header-app-name {
  display: inline-block;
  color: #6C6C6C;
  font-family: "Gotham";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .05rem;
  padding-left: 10px;
  text-transform: uppercase;
}

.launchpad {
  font-size: 0px;
}

.launchpad .launchpad-nav {
  float: left;
  width: 58px;
  height: 100%;
  background-color: #252B31;
  padding-top: 12px;
}

.launchpad .launchpad-nav .launchpad-nav-type {
  text-align: center;
}

.launchpad .launchpad-nav .launchpad-nav-type .launchpad-nav-type-icon {
  font-size: 28px;
  color: #6C7D87;
}

.launchpad .launchpad-nav .launchpad-nav-type p.launchpad-nav-type-text {
  position: relative;
  text-align: center;
  font-size: 12px;
  color: #6C7D87;
  font-weight: 300;
  line-height: 28px;
}

.launchpad .launchpad-nav .launchpad-nav-type:hover {
  cursor: pointer;
}

.launchpad .launchpad-nav .launchpad-nav-type:hover .launchpad-nav-type-icon {
  color: #DDE6EC;
}

.launchpad .launchpad-nav .launchpad-nav-type:hover p.launchpad-nav-type-text {
  color: #DDE6EC;
}

.launchpad .launchpad-type {
  float: left;
  width: 242px;
  height: 100%;
  background-color: #171D21;
  padding: 20px;
}

.launchpad .launchpad-type .launchpad-type-selection {
  height: 60px;
  margin-bottom: 20px;
}

.launchpad .launchpad-type .launchpad-type-selection .launchpad-type-selection-icon {
  display: inline-block;
  color: #6C7D87;
  line-height: 60px;
  font-size: 42px;
}

.launchpad .launchpad-type .launchpad-type-selection .launchpad-type-selection-info {
  display: inline-block;
  width: 160px;
  position: relative;
  top: 6px;
  padding-left: 14px;
}

.launchpad .launchpad-type .launchpad-type-selection .launchpad-type-selection-info p.launchpad-type-selection-name {
  color: #6C7D87;
  padding: 0px 0px 5px 0px;
  font-weight: 100;
  font-family: "Gotham";
  font-size: 11px;
}

.launchpad .launchpad-type .launchpad-type-selection .launchpad-type-selection-info p.launchpad-type-selection-desc {
  font-weight: 100;
  color: #6C7D87;
  line-height: 1.1rem;
  font-size: 11px;
}

.launchpad .launchpad-type .launchpad-type-selection:hover {
  cursor: pointer;
}

.launchpad .launchpad-type .launchpad-type-selection:hover .launchpad-type-selection-icon {
  color: #879DAC;
}

.launchpad .launchpad-type .launchpad-type-selection:hover .launchpad-type-selection-info .launchpad-type-selection-name {
  color: #FFCB4D;
  font-weight: 500;
}

.launchpad .launchpad-type .launchpad-type-selection:hover .launchpad-type-selection-info .launchpad-type-selection-desc {
  color: #BECAD5;
}

.launchpad .launchpad-theme {
  float: left;
  width: 242px;
  height: 100%;
  background-color: #171D21;
  padding: 20px;
}

.launchpad .launchpad-theme .launchpad-theme-section p.launchpad-theme-section-title {
  font-weight: 300;
  font-style: "Gotham";
  font-size: 17px;
  color: #6C7D87;
}

.launchpad .launchpad-theme .launchpad-theme-section:last-child {
  margin-top: 16px;
}

.launchpad .launchpad-theme .launchpad-theme-row {
  display: block;
}

.launchpad .launchpad-theme .launchpad-theme-row .launchpad-theme-selection {
  display: inline-block;
}

.launchpad .launchpad-theme .launchpad-theme-row .launchpad-theme-selection .launchpad-theme-selection-thumb {
  height: 60px;
  width: 92px;
  background-color: #40494E;
}

.launchpad .launchpad-theme .launchpad-theme-row .launchpad-theme-selection:last-child {
  margin-left: 16px;
}

.launchpad .launchpad-theme .launchpad-theme-row .launchpad-theme-selection p.launchpad-theme-selection-name {
  padding-top: 6px;
  text-align: center;
  font-family: "Gotham";
  font-weight: 300;
  font-size: 11px;
  color: #6C7D87;
}

.launchpad .launchpad-theme .launchpad-theme-row .launchpad-theme-selection:hover {
  cursor: pointer;
}

.launchpad .launchpad-theme .launchpad-theme-row .launchpad-theme-selection:hover .launchpad-theme-selection-thumb {
  border: 3px solid #FFCB4D;
}

.launchpad .launchpad-theme .launchpad-theme-row .launchpad-theme-selection:hover p.launchpad-theme-selection-name {
  color: #DDE6EC;
  font-weight: 500;
}

.launchpad .launchpad-layout {
  float: left;
  width: 242px;
  height: 100%;
  background-color: #171D21;
  padding: 20px;
}

.launchpad .launchpad-layout .launchpad-layout-selection {
  padding-top: 14px;
}

.launchpad .launchpad-layout .launchpad-layout-selection .launchpad-layout-image {
  width: 200px;
  height: 150px;
  background-color: #252B31;
  border: 4px solid #6C7D87;
}

.launchpad .launchpad-layout .launchpad-layout-selection p.launchpad-layout-text {
  font-family: "Gotham";
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #6C7D87;
  padding-top: 8px;
}

.launchpad .launchpad-layout .launchpad-layout-selection:hover {
  cursor: pointer;
}

.launchpad .launchpad-layout .launchpad-layout-selection:hover .launchpad-layout-image {
  background-color: #40494E;
  border-color: #FFCB4D;
}

.launchpad .launchpad-layout .launchpad-layout-selection:hover p.launchpad-layout-text {
  color: #DDE6EC;
}

.launchpad .launchpad-layout .launchpad-layout-selection:first-child {
  padding-top: 0px;
}

.modal {
  display: inline-block;
  position: relative;
  background-color: #252B31;
  min-height: 200px;
  min-width: 300px;
}

.modal .modal-navbar {
  background-color: #40494E;
  height: 50px;
}

.modal .modal-navbar ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal .modal-navbar ul li {
  cursor: pointer;
  display: inline-block;
  color: #6C7D87;
  padding: 0px 10px;
  line-height: 50px;
}

.modal .modal-navbar ul li:first-child {
  padding-left: 20px;
}

.modal .modal-navbar ul li:hover {
  color: #BECAD5;
}

.modal .modal-navbar ul li.link-active {
  color: #BECAD5;
}

.modal .modal-navbar .icon-cross2 {
  float: right;
  display: inline-block;
  font-size: 20px;
  color: #BECAD5;
  line-height: 50px;
  padding: 0px 12px;
}

.modal .modal-navbar .icon-cross2.modal-title-x {
  position: relative;
  top: -60px;
}

.modal .modal-navbar p.modal-title {
  font-size: 14px;
  color: #BECAD5;
  line-height: 50px;
  text-align: center;
}

.modal .modal-resize {
  cursor: nwse-resize;
  height: 0px;
  width: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #879DAC;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  right: -1px;
  bottom: 2px;
}

.module {
  border: 2px solid #CCC;
  width: 325px;
  padding: 9px;
  cursor: ns-resize;
}

.module .module-sort {
  float: left;
  margin-right: 8px;
}

.module .module-sort .icon-arrow-up8 {
  font-size: 14px;
  color: #646C73;
  cursor: pointer;
}

.module .module-sort .icon-arrow-down8 {
  font-size: 14px;
  color: #BECAD5;
  cursor: pointer;
}

.module .icon-cross2 {
  font-size: 12px;
  color: #BECAD5;
  float: right;
  cursor: pointer;
}

.module.light {
  border-color: #E8EDF0;
  background-color: #FEFEFE;
}

.module.dark {
  border-color: #40494E;
  background-color: #363E43;
}

.module.dark .module-sort .icon-arrow-up8 {
  color: #879DAC;
}

.module.dark .module-sort .icon-arrow-down8 {
  color: #DDE6EC;
}

.module.dark .icon-cross2 {
  color: #879DAC;
}

.publish {
  height: 37px;
  background-color: #0DBB6F;
  border-radius: 37px;
  display: inline-block;
  cursor: pointer;
}

.publish p {
  font-family: "Gotham";
  font-size: .75rem;
  font-weight: 400;
  color: white;
  letter-spacing: .1rem;
  line-height: 37px;
  color: white;
  margin: 0px 20px;
  text-align: center;
}

.publish-active {
  height: 37px;
  background-color: #FFCB4D;
  border-radius: 37px;
  display: inline-block;
  cursor: pointer;
}

.publish-active .icon-loop3 {
  color: #6C500B;
  margin-left: 19px;
  margin-right: 8px;
  float: left;
  font-size: 1.1rem;
  line-height: 35px;
  position: relative;
  top: 1px;
  transition: -webkit-transform 1s ease;
}

.publish-active p.publish-active {
  color: #6C500B;
  font-family: "Gotham";
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 37px;
  margin-right: 18px;
}

.publish-active:hover .icon-loop3 {
  -webkit-transform: rotate(360deg);
  /*.class{
       animation-name: out;
       animation-duration:2s;
      }
      .class:hover{
         animation-name: in;
         animation-duration:5s;
         animation-iteration-count:infinite;
      }
      @keyframe in{
          to {transform: rotate(360deg);}
      }
      @keyframe out{
          to {transform: rotate(0deg);}
      }*/
}

.radio {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  /*Animation*/
  background-color: #52A0DE;
  /**/
  transition: background-color .2s ease;
  /*Animation*/
  box-shadow: inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 4px white;
  /**/
  transition: box-shadow .2s ease;
}

.radio:hover {
  background-color: #52A0DE;
  box-shadow: inset inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 4px white;
}

.radio.off {
  box-shadow: inset 0px 0px 0px 2px #BECAD5, inset 0px 0px 0px 10px white;
}

.radio.off:hover {
  background-color: #52A0DE;
  box-shadow: inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 6px white;
}

.radio.off.dark {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 0px 2px #DDE6EC, inset 0px 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.radio.off.dark:hover {
  background-color: white;
  box-shadow: inset 0px 0px 0px 2px white, inset 0px 0px 0px 6px rgba(0, 0, 0, 0.8);
}

input {
  background-color: rgba(255, 255, 255, 0);
}

[type=range] {
  -webkit-appearance: none;
  margin: 9px 0;
  width: 100%;
}

[type=range]:focus {
  outline: none;
}

[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  transition: all .2s ease;
  background: #D9DFE4;
  border: 0px solid #000;
  border-radius: 5px;
}

[type=range]::-webkit-slider-thumb {
  border: 0px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  background: #52A0DE;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}

[type=range]:focus::-webkit-slider-runnable-track {
  background: #e8ecef;
}

[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  transition: all .2s ease;
  background: #D9DFE4;
  border: 0px solid #000;
  border-radius: 5px;
}

[type=range]::-moz-range-thumb {
  border: 0px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  background: #52A0DE;
  cursor: pointer;
}

[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  transition: all .2s ease;
  background: transparent;
  border-color: transparent;
  border-width: 18px 0;
  color: transparent;
}

[type=range]::-ms-fill-lower {
  background: #cad2d9;
  border: 0px solid #000;
  border-radius: 10px;
}

[type=range]::-ms-fill-upper {
  background: #D9DFE4;
  border: 0px solid #000;
  border-radius: 10px;
}

[type=range]::-ms-thumb {
  border: 0px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  background: #52A0DE;
  cursor: pointer;
}

[type=range]:focus::-ms-fill-lower {
  background: #D9DFE4;
}

[type=range]:focus::-ms-fill-upper {
  background: #e8ecef;
}

.rangedark::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  transition: all .2s ease;
  background: #40494E;
}

.area.full-width {
  width: 100%;
}

.search .icon-search3 {
  color: #BECAD5;
  float: right;
  font-size: 38px;
}

.search .search-field {
  height: 40px;
  background-color: white;
  border-radius: 2px;
  width: 400px;
  float: right;
  margin-right: 20px;
}

.search .search-field p.search-field-text {
  line-height: 42px;
  text-align: center;
  color: #BECAD5;
  font-weight: 300;
  font-size: 18px;
  font-family: "Gotham";
  letter-spacing: .2rem;
}

.sidebar {
  z-index: 99;
  width: 156px;
  background-color: #364049;
  height: 100%;
  position: fixed;
  top: 56px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.4);
  padding-top: 15px;
}

.sidebar .button {
  margin: 0px 0px 11px 13px;
}

@media only screen and (max-width: 768px) {
  .sidebar .button {
    margin: 0px 0px 11px 7px;
  }
}

.sidebar .nav-item {
  width: 100%;
  height: 50px;
  padding-left: 16px;
}

.sidebar .nav-item .nav-icon {
  float: left;
  height: 50px;
  vertical-align: middle;
}

.sidebar .nav-item .nav-icon .icon-pencil {
  font-size: 24px;
  line-height: 50px;
  display: inline;
  color: #D7D7D7;
}

.sidebar .nav-item .nav-icon .icon-stats-bars {
  font-size: 24px;
  line-height: 50px;
  display: inline;
  color: #D7D7D7;
}

.sidebar .nav-item .nav-icon .icon-display {
  font-size: 24px;
  line-height: 50px;
  display: inline;
  color: #D7D7D7;
}

.sidebar .nav-item .nav-icon .icon-cogs {
  font-size: 24px;
  line-height: 50px;
  display: inline;
  color: #D7D7D7;
}

.sidebar .nav-item .nav-icon .icon-question4 {
  font-size: 24px;
  line-height: 50px;
  display: inline;
  color: #D7D7D7;
}

.sidebar .nav-item .nav-text {
  position: relative;
  top: 1.2px;
  font-family: "Gotham";
  padding-left: 12px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: .17rem;
  display: inline;
  float: left;
  color: #E9E9E9;
  text-transform: uppercase;
  line-height: 50px;
}

.sidebar .nav-item:hover {
  background-color: #44525A;
  cursor: pointer;
}

.sidebar .nav-item-list {
  background-color: #2D343A;
  padding: 14px 0px;
}

.sidebar .nav-item-list .nav-item-list-item {
  color: #A8AEB4;
  font-family: "Gotham";
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 14px 15px 14px 15px;
}

.sidebar .nav-item-list .nav-item-list-item:hover {
  color: #E5EEF5;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .sidebar .nav-item-list {
    position: absolute;
    padding-left: 10px;
    left: 56px;
    top: 120px;
    min-width: 170px;
  }
}

.sidebar .sidebar-footer {
  position: fixed;
  bottom: 10px;
  width: 156px;
}

.sidebar .sidebar-footer .nav-item {
  height: 12px;
}

.sidebar .sidebar-footer .nav-item .nav-icon {
  height: 2px;
}

.sidebar .sidebar-footer .nav-item .nav-icon .icon-question4 {
  color: #6B7A88;
}

.sidebar .sidebar-footer .nav-item .nav-text {
  height: 46px;
  color: #6B7A88;
}

.sidebar .sidebar-footer .nav-item:hover {
  background-color: #364049;
}

.sidebar .sidebar-footer .nav-item:hover .nav-icon .icon-question4 {
  color: #A8AEB4;
}

.sidebar .sidebar-footer .nav-item:hover .nav-text {
  color: #A8AEB4;
}

.sidebar .sidebar-footer .sidebar-footer-link {
  font-size: 10px;
  color: #6B7A88;
  padding-left: 16px;
  padding-bottom: 5px;
}

.sidebar .sidebar-footer .sidebar-footer-link:hover {
  color: #A8AEB4;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 58px;
  }
  .sidebar .nav-item .nav-text {
    display: none;
  }
}

table {
  width: 100%;
  border-left: 0px;
  -webkit-border-horizontal-spacing: 0px;
  padding: 0px;
}

table p.table-col {
  padding-left: 8px;
}

table th p, table td p, table tr p {
  margin: 0px;
  padding: 0px;
  font-family: "Gotham";
  font-weight: 300;
  font-size: 13px;
  color: #3A3A3A;
}

table th {
  height: 31px;
  padding: 0px;
}

table th p {
  float: left;
  line-height: 31px;
  padding: 0px;
}

table th .icon-arrow-down3 {
  float: left;
  font-size: 13px;
  display: inline-block;
  line-height: 29px;
  padding-left: 5px;
  padding-right: 10px;
  color: #D8D8D8;
}

table th, table td {
  padding: 0px 10px 0px 0px;
  background-color: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 0px;
}

table td {
  height: 68px;
}

table td p.app-name {
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  color: #959595;
}

table td .icon-compass6 {
  font-size: 32px;
  position: relative;
  line-height: 68px;
  text-align: center;
}

table td .icon-calculator {
  font-size: 34px;
  position: relative;
  line-height: 68px;
  text-align: center;
}

table .td-type {
  width: 80px;
}

table .td-detail {
  font-size: 12px;
  font-weight: 300;
  padding-left: 8px;
}

table .td-status {
  font-size: 13px;
  font-weight: 500;
  padding-left: 8px;
  color: #1B8CE4;
}

table .td-settings {
  min-width: 300px;
}

table .td-settings p.app-name {
  display: block;
}

table .td-settings .icon-eye {
  display: none;
  font-size: 15px;
  padding-left: 8px;
  padding-top: 0px;
  position: relative;
  top: 6px;
  color: #656B70;
}

table .td-settings p.td-setting-name {
  display: none;
  font-size: 11px;
  font-weight: 500;
  padding: 0px;
  position: relative;
  top: 4px;
  color: #656B70;
}

table .td-settings:hover {
  cursor: pointer;
}

table .td-settings:hover p.app-name {
  position: relative;
  top: 1px;
  color: #484848;
}

table .td-settings:hover .icon-eye {
  display: inline-block;
}

table .td-settings:hover p.td-setting-name {
  display: inline-block;
}

.toggle {
  height: 16px;
  width: 30px;
  border-radius: 16px;
  margin-bottom: 10px;
}

.toggle .thumb {
  height: 12px;
  width: 16px;
  border-radius: 12px;
  background-color: white;
  position: relative;
  top: 2px;
  left: 2px;
  transition: left .2s ease;
}

.toggle.on {
  background-color: #52A0DE;
}

.toggle.on:hover {
  background-color: #BECAD5;
}

.toggle.on:hover .thumb {
  left: 4px;
}

.toggle.off {
  background-color: #BECAD5;
}

.toggle.off .thumb {
  left: 11px;
}

.toggle.off:hover {
  background-color: #52A0DE;
}

.toggle.off:hover .thumb {
  left: 9px;
}

.toggle.on.dark:hover {
  background-color: #879DAC;
}

.toggle.off.dark {
  background-color: #879DAC;
}

.toggle.off.dark:hover {
  background-color: #52A0DE;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltip-triangle {
  height: 0px;
  width: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #40494E;
  position: relative;
  left: 20px;
}

.tooltip .tooltip-content {
  height: 31px;
  background-color: #40494E;
  border-radius: 2px;
  color: white;
  line-height: 31px;
  font-family: "Gotham";
  font-size: 13px;
  padding: 0px 10px;
}

.uploader .uploader-dragdrop {
  display: inline-block;
  height: 70px;
  width: 116px;
  background-color: #E8EDF0;
  border: 1px solid #BECAD5;
  margin-right: 6px;
}

.uploader .uploader-dragdrop .icon-image {
  color: #BECAD5;
  line-height: 70px;
  text-align: center;
}

.uploader .uploader-buttons {
  display: inline-block;
  position: relative;
  top: -4px;
}

.uploader .uploader-buttons .uploader-button {
  display: block;
}

.uploader .uploader-buttons .uploader-button .icon-upload {
  display: inline-block;
  font-size: 18px;
  color: #BECAD5;
  margin-bottom: 8px;
}

.uploader .uploader-buttons .uploader-button .icon-bin2 {
  display: inline-block;
  font-size: 18px;
  color: #BECAD5;
  margin-bottom: 10px;
}

.uploader .uploader-buttons .uploader-button p.uploader-button-name {
  display: inline-block;
  color: #646C73;
  padding-left: 4px;
  font-weight: 300;
  font-family: "Gotham";
}

.uploader.dark .uploader-dragdrop {
  background-color: #40494E;
  border: 1px solid #6C7D87;
}

.uploader.dark .uploader-dragdrop .icon-image {
  color: #879DAC;
}

.uploader.dark .uploader-buttons .uploader-button .icon-upload {
  color: #879DAC;
}

.uploader.dark .uploader-buttons .uploader-button .icon-bin2 {
  color: #879DAC;
}

.uploader.dark .uploader-buttons .uploader-button p.uploader-button-name {
  color: #879DAC;
}

.builder-button-save {
  height: 37px;
  border-radius: 37px;
  background-color: #E3E3E3;
  width: 37px;
  border: 2px solid #4F4F4F;
  cursor: pointer;
}

.builder-button-save .icon-floppy-disk {
  font-size: 1.1rem;
  text-align: center;
  line-height: 33px;
}

.builder-button-save:hover {
  background-color: #4F4F4F;
}

.builder-button-save:hover .icon-floppy-disk {
  color: #F6F6F6;
}

.base-background {
  background-color: #F8F9FB;
  padding: 50px 0px 0px 50px;
  height: 100%;
}

.builder-canvas {
  background-color: white;
  width: 800px;
  height: 600px;
  font-size: 0px;
}

.ruler .ruler-box {
  vertical-align: top;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  margin-right: 3px;
}

.ruler .ruler-tick-1 {
  vertical-align: top;
  display: inline-block;
  height: 8px;
  width: 1px;
  background-color: #D0D0D0;
  margin-left: 4px;
}

.ruler .ruler-tick-5 {
  display: inline-block;
  height: 11px;
  width: 1px;
  background-color: #B0B0B0;
  margin-left: 4px;
}

.builder-component {
  display: block;
}

.builder-component .builder-component-settings {
  display: inline-block;
  padding-bottom: 3px;
}

.builder-component .builder-component-settings .builder-component-icon {
  display: inline-block;
  padding-left: 3px;
}

.builder-component .builder-component-settings .builder-component-icon .icon-cog {
  font-size: 16px;
}

.builder-component .builder-component-settings .builder-component-icon .icon-copy4 {
  font-size: 16px;
}

.builder-component .builder-component-settings .builder-component-icon .icon-bin2 {
  font-size: 16px;
}

.builder-component .builder-component-content {
  display: block;
  padding: 20px;
  border: 4px solid #FFCB4D;
}

.builder-component .builder-component-content p {
  padding: 0px;
}

.builder-component .builder-component-rotate {
  text-align: center;
  padding-top: 10px;
}

.builder-component .builder-component-rotate .icon-redo {
  font-size: 18px;
}

.builder-sidebar {
  width: 204px;
  background-color: #31383E;
  height: 100%;
  padding-top: 8px;
}

.builder-sidebar .builder-nav {
  height: 34px;
  background-color: #252B31;
  width: 100%;
  margin-bottom: 2px;
}

.builder-sidebar .builder-nav .icon-cog {
  padding-left: 18px;
  display: inline-block;
  color: white;
  font-size: 18px;
  line-height: 34px;
  color: #DDE6EC;
}

.builder-sidebar .builder-nav .icon-files-empty {
  padding-left: 18px;
  display: inline-block;
  color: white;
  font-size: 18px;
  line-height: 34px;
  color: #DDE6EC;
}

.builder-sidebar .builder-nav .icon-width {
  padding-left: 18px;
  display: inline-block;
  color: white;
  font-size: 18px;
  line-height: 34px;
  color: #DDE6EC;
}

.builder-sidebar .builder-nav p.builder-nav-item {
  padding-left: 7px;
  font-size: 15px;
  color: white;
  font-weight: 300;
  display: inline-block;
  text-transform: uppercase;
  line-height: 34px;
  position: relative;
  top: -3px;
  color: #DDE6EC;
}

.builder-sidebar .builder-nav .icon-arrow-down5 {
  float: right;
  padding-right: 10px;
  display: inline-block;
  color: #74889C;
  font-size: 16px;
  line-height: 34px;
}

.builder-sidebar .builder-page {
  width: 175px;
  height: 105px;
  background-color: #F8F9FB;
  margin: 15px auto 10px;
  border: 4px solid #FFCB4D;
}

.builder-sidebar .builder-page .icon-brain {
  font-size: 45px;
  text-align: center;
  line-height: 95px;
  color: #879DAC;
}

.builder-sidebar p.builder-page-name {
  text-align: center;
  color: #DDE6EC;
  font-weight: 300;
  letter-spacing: .1rem;
  padding: 0px;
}

.builder-toolbar .builder-toolbar-item {
  display: inline-block;
  width: 68px;
  height: 55px;
}

.builder-toolbar .builder-toolbar-item .builder-toolbar-icon {
  text-align: center;
  font-size: 24px;
  color: #A1A1A1;
}

.builder-toolbar .builder-toolbar-item p.builder-toolbar-item-name {
  text-align: center;
  color: #A1A1A1;
  font-size: 13px;
  font-family: "ProximaNova";
  font-weight: 500;
  position: relative;
  top: 10px;
  letter-spacing: .05rem;
}

/* Column of a layout */
.section {
  width: 325px;
  margin-right: 39px;
  margin-bottom: 24px;
}

/* Area of a section that is specific to a set of related componenets */
.block {
  width: 100%;
  margin-bottom: 24px;
}

/* Individually isolated components */
.fragment {
  width: 100%;
  margin-bottom: 11px;
}

/* ----------------------------------------------- */
/* IGNORE THESE ELEMENTS, USED FOR THE UI KIT ONLY */
/* ----------------------------------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background-color: white;
}

html, body, p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-family: "ProximaNova";
  font-size: 14px;
  color: #7B7B7B;
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 10px;
}

/* BASE COLORS */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0px;
}

.clearfix {
  display: inline-block;
}

.top {
  width: 100%;
  margin-bottom: 24px;
}

.content-wrapper {
  margin: 50px 50px;
}

.back a {
  color: #c8c8c8;
  text-decoration: none;
}

.back a:hover {
  color: #323232;
}

.area {
  background-color: #F8F9FB;
  margin: 30px 0px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 0px 2px #EEE;
  position: relative;
  z-index: 1;
}

.area:hover {
  z-index: 2;
}

.area-dark {
  background-color: #252B31;
  margin: 30px 0px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 0px 2px #666;
  position: relative;
  z-index: 1;
}

.area-dark p {
  color: #DDD;
}

.area-dark:hover {
  z-index: 2;
}

.toc {
  padding: 20px;
  display: inline-block;
}

.toc h1 {
  margin-top: 20px;
  display: block;
  color: #c8c8c8;
  text-decoration: none;
  font-size: 24px;
}

.toc a.toc-link {
  display: inline-block;
  margin: 2px 0px;
  color: #969696;
  text-decoration: none;
  font-size: 20px;
}

.block-break {
  display: block;
}

.icon-columns {
  column-count: 3;
  column-width: 200px;
}

.note {
  color: white;
  background-color: #FF4C1F;
  position: fixed;
  bottom: 20px;
  padding: 10px 10px 10px 30px;
  z-index: 100000;
}

/* Move to content.scss */
.content {
  padding: 85px 0px 0px 200px;
  background-color: #F8F9FB;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 85px 0px 0px 92px;
  }
}
