@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.otf");
  font-weight: 500;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Black.otf");
  font-weight: 900;
}

/* BASE COLORS */
/* BLUE */
/* GREEN */
/* ORANGE */
/* GRAY */
/* GOLD */
/* RED */
h1 {
  font-size: 20px;
}

.checkbox-on {
  height: 16px;
  width: 16px;
  background-color: #52A0DE;
  color: white;
}

.checkbox-off {
  height: 16px;
  width: 16px;
  background-color: #FFF;
  box-shadow: inset 0 0 0 2px #D8D8D8;
}

.radio-on {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #52A0DE;
  box-shadow: inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 4px white;
  transition: box-shadow 0.2s ease;
  transition: background-color 0.2s ease;
}

.radio-on:hover {
  box-shadow: inset 0px 0px 0px 2px #D8D8D8, inset 0px 0px 0px 6px white;
  background-color: #D8D8D8;
}

.radio-off {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #FFF;
  box-shadow: inset 0px 0px 0px 2px #D8D8D8, inset 0px 0px 0px 6px white;
  transition: box-shadow 0.2s ease;
  transition: background-color 0.2s ease;
}

.radio-off:hover {
  box-shadow: inset 0px 0px 0px 2px #52A0DE, inset 0px 0px 0px 6px white;
  background-color: #52A0DE;
}

.dropdown {
  background-color: #e4eaee;
  width: 200px;
  height: 33px;
}

.dropdown .option {
  font-family: "ProximaNova";
  font-weight: 500;
  padding-left: 10px;
  line-height: 33px;
}

.button {
  height: 40px;
  width: 127px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.button-blue {
  background-color: #1b8ce4;
}

.button-green {
  background-color: #0fb162;
}

.button-green .button-text {
  letter-spacing: 3px;
  font-size: 1.25rem;
}

.button-text {
  color: white;
  text-transform: uppercase;
  font-family: "ProximaNova";
  letter-spacing: 1.5px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 40px;
}

html, body, p, h1 {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  font-family: sans-serif;
}

p {
  font-family: "ProximaNova";
  font-weight: 500;
  padding-bottom: 10px;
}

.clearfix {
  clear: both;
}

.content-wrapper {
  margin: 50px 50px;
}
