<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – UI Kit</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
		<div class="content-wrapper">
			<div class="back">
				<a href="../../index.html">&#x2190; UI KIT</a>
			</div>
			<div class="area">
				<p>BUTTONS LIGHT</p>
				<div class="fragment">
					<div class="button button-blue">
						<div class="icon-file-upload2"></div>
						<div class="button-text">UPLOAD</div>
					</div>
				</div>
				<div class="fragment">
					<div class="button button-green">
						<div class="icon-plus3"></div>
						<div class="button-text">NEW</div>
					</div>
				</div>
			</div>
			<div class="area-dark">
				<p>BUTTONS DARK</p>
				<div class="fragment">
					<div class="button button-blue">
						<div class="icon-file-upload2"></div>
						<div class="button-text">UPLOAD</div>
					</div>
				</div>
				<div class="fragment">
					<div class="button button-green">
						<div class="icon-plus3"></div>
						<div class="button-text">NEW</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
