<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – filter</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
		<div class="content-wrapper">
			<div class="back">
				<a href="../../index.html">&#x2190; UI KIT</a>
			</div>
			<div class="area">
				<p>FILTERS LIGHT</p>
				<div class="fragment">
					<div class="filter">
						<p class="filter-type">TYPE</p>
						<p class="filter-selected">CALCULATOR</p>
						<div class="icon-arrow-down3"></div>
						<div class="filter-options">
							<p>POLL / SURVEY</p>
							<p>QUIZ</p>
							<p>CANVAS</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
