<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – modal</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
		<div class="content-wrapper">
			<div class="back">
				<a href="../../index.html">&#x2190; UI KIT</a>
			</div>
			<div class="area">
				<p>MODAL</p>
				<div class="fragment">
					<div class="modal">
						<div class="modal-navbar">
							<ul>
								<li>SETTINGS</li>
								<li>TEST</li>
								<li>SETTINGS</li>
								<li>TEST</li>
								<li>SETTINGS</li>
								<li>TEST</li>
							</ul>
							<div class="icon-cross2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
