<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – UI Kit</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
		<div class="content-wrapper">
			<div class="back">
				<a href="../../index.html">&#x2190; UI KIT</a>
			</div>
			<div class="area">
				<p>SORT MODULE LIGHT</p>
				<div class="fragment">
					<div class="module light clearfix">
						<div class="module-sort">
							<div class="icon-arrow-up8"></div>
							<div class="icon-arrow-down8"></div>
						</div>
						<div class="icon-cross2"></div>
					</div>
				</div>
			</div>
			<div class="area-dark">
				<p>SORT MODULE DARK</p>
				<div class="fragment">
					<div class="module dark"></div>
				</div>
			</div>
		</div>
	</body>
</html>
