<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – RANGE</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
		<div class="content-wrapper">
			<div class="back">
				<a href="../../index.html">&#x2190; UI KIT</a>
			</div>
			<div class="area">
				<p>RANGE LIGHT</p>
				<div class="fragment">
					<div class="range"></div>
				</div>
				<div class="fragment">
					<input type="range" min="1" max="10"></input>
					<input type="range" value="100"></input>
				</div>
			</div>
			<div class="area-dark">
				<p>RANGE DARK</p>
				<input type="range" min="1" max="10" class="rangedark"></input>
				<input type="range" value="100" class="rangedark"></input>
			</div>
		</div>
	</body>
</html>
