<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – sidebar expanded</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
    <div class="header">
			<div class="logo">
			</div>
    </div>
		<div class="sidebar">
			<div class="button button-blue">
				<div class="icon-plus3 button-icon"></div>
				<div class="button-text">UPLOAD</div>
			</div>
			<div class="button button-green">
			<div class="icon-plus3 button-icon"></div>
				<div class="button-text">NEW</div>
			</div>
			<div class="nav-item">
				<div class="nav-icon">
					<div class="icon-pencil nav-icon-style"></div>
				</div>
				<div class="nav-text">
					Content
				</div>
			</div>
			<div class="nav-item-list">
				<div class="nav-item-list-item">My SnapApps</div>
				<div class="nav-item-list-item">Scheduler</div>
				<div class="nav-item-list-item">Assets</div>
			</div>
			<div class="nav-item">
				<div class="nav-icon">
					<div class="icon-stats-bars nav-icon-style"></div>
				</div>
				<div class="nav-text">
					Data
				</div>
			</div>
			<div class="nav-item">
				<div class="nav-icon">
					<div class="icon-display nav-icon-style"></div>
				</div>
				<div class="nav-text">
					Templates
				</div>
			</div>
			<div class="nav-item">
				<div class="nav-icon">
					<div class="icon-cogs nav-icon-style"></div>
				</div>
				<div class="nav-text">
					Admin
				</div>
			</div>
			<div class="sidebar-footer">
				<div class="nav-item">
					<div class="nav-icon">
						<div class="icon-question4"></div>
					</div>
					<div class="nav-text">
						Get help
					</div>
				</div>
				<div class="sidebar-footer-link">TERMS OF SERVICE</div>
				<div class="sidebar-footer-link">FAQs</div>
			</div>
		</div>
		<div class="content">
			<div class="block">
				<div class="fragment">
					<div class="breadcrumb">
						<div class="icon-arrow-left3 small"></div>
						<div class="breadcrumb-text">MY APPS</div>
					</div>
				</div>
				<div class="fragment">
					<h1>SECTION TITLE</h1>
				</div>
			</div>
			<div class="section">
				<div class="block">
					<div class="fragment">
						<h2>SECTION SETTINGS</h2>
						<div class="block-divider"></div>
					</div>
					<div class="fragment">
						<h3>SECTION COMPONENT</h3>
					</div>
					<div class="fragment">
						<div class="radio"></div>
						<p>Here is some text.</p>
					</div>
					<div class="fragment">
						<div class="radio off"></div>
						<p>Here is some text.</p>
					</div>
				</div>
				<div class="block">
					<div class="fragment">
						<h3>SECTION COMPONENT</h3>
					</div>
					<div class="fragment">
						<p>Here is some text.</p>
					</div>
					<div class="fragment">
						<div class="dropdown">
							<div class="option">Choose your character
								<div class="icon-arrow-down5"></div>
							</div>
							<div class="values">
								<ul>
									<li>Mario</li>
									<li>Luigi</li>
									<li>Kid Icarus</li>
									<li>Kirby</li>
									<li>King Dee Dee Dee</li>
									<li>Yoshi</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="fragment">
						<p>Lorem ipsum dolor sit amet, fabulas comprehensam ei mei. Quo in movet quando dignissim, eu sea homero labores veritus. Porro quaeque phaedrum quo cu. Vis utinam definiebas ad, usu ea facilis facilisi gubergren. Et has odio legere, nam omnis neglegentur no. Mei summo dolores scripserit in.</p>
					</div>
				</div>
			</div>
			<div class="section-divider">
			</div>
			<div class="section-right">
				<div class="fragment">
					<h3>SECTION COMPONENT</h3>
				</div>
				<div class="fragment">
					<p>Here is some text.</p>
				</div>
				<div class="fragment">
					<div class="dropdown">
						<div class="option">Choose your character
							<div class="icon-arrow-down5"></div>
						</div>
						<div class="values">
							<ul>
								<li>Mario</li>
								<li>Luigi</li>
								<li>Kid Icarus</li>
								<li>Kirby</li>
								<li>King Dee Dee Dee</li>
								<li>Yoshi</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<p class="note">Resize the screen past 768px to see the second navigation breakpoint styling</p>-->
	</body>
</html>
