<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – table</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
		<div class="content-wrapper">
			<div class="back">
				<a href="../../index.html">&#x2190; UI KIT</a>
			</div>
			<div class="area">
				<p>TABLE</p>
				<div class="fragment">
					<table>
						<tr>
							<th>
								<p class="table-col">TYPE</p>
								<div class="icon-arrow-down3"></div>
							</th>
							<th>
								<p class="table-col">APP NAME</p>
								<div class="icon-arrow-down3"></div>
							</th>
							<th>
								<p class="table-col">LAST EDIT</p>
								<div class="icon-arrow-down3"></div>
							</th>
							<th>
								<p class="table-col">CREATED</p>
								<div class="icon-arrow-down3"></div>
							</th>
							<th>
								<p class="table-col">STATUS</p>
								<div class="icon-arrow-down3"></div>
							</th>
						</tr>
						<tr>
							<td class="td-type">
								<div class="icon-compass6"></div>
							</td>
							<td class="td-settings">
								<p class="app-name">Here is the name of the app that's long.</p>
								<div class="icon-eye"></div>
								<p class="td-setting-name">PREVIEW</p>
							</td>
							<td>
								<p class="td-detail">12 DAYS AGO</p>
							</td>
							<td>
								<p class="td-detail">12/12/2012</p>
							</td>
							<td>
								<p class="td-status">PUBLISHED</p>
							</td>
						</tr>
						<tr>
							<td class="td-type">
								<div class="icon-calculator"></p>
							</td>
							<td class="td-settings">
								<p class="app-name">Here is the name of the app that's long.</p>
								<div class="icon-eye"></div>
								<p class="td-setting-name">PREVIEW</p>
							</td>
							<td>
								<p class="td-detail">12 DAYS AGO</p>
							</td>
							<td>
								<p class="td-detail">12/12/2012</p>
							</td>
							<td>
								<p class="td-status">PUBLISHED</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<p class="note">Unsure of how to remove box-shadow horizontally across columns. Should be removed.</p>
	</body>
</html>
