<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – TABLE</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
		<div class="content-wrapper">
			<div class="back">
				<a href="../../index.html">&#x2190; UI KIT</a>
			</div>
			<div class="area">
				<p>TABLE</p>
				<div class="fragment">
					<div class="table">
						<div class="row-sort">
						</div>
						<div class="row">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
