<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – TABLE</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
		<div class="content-wrapper">
			<div class="back">
				<a href="../../index.html">&#x2190; UI KIT</a>
			</div>
			<div class="area">
				<p>TABLE</p>
				<div class="fragment">
					<table>
						<tr>
							<th>
								<p>TYPE</p>
								<div class="icon-arrow-down3"></div>
								<div class="separator"></div>
							</th>
							<th>
								<p>APP NAME</p>
								<div class="icon-arrow-down3"></div>
							</th>
						</tr>
						<tr>
							<td>
								<p>Icon</p>
								<div class="separator"></div>
							</td>
							<td>Here is the name of the app that's long.</td>

						</tr>
						<tr>
							<td>
								<p>icon</p>
								<div class="separator"></div>
							</td>
							<td>Here is the name of the app that's long.</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
