<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="100" > 		<!--  REMOVE THIS LINE WHEN PUBLISHING  -->
		<title>bearsharktopus – uploader</title>
		<link rel="stylesheet" href="../../styles/styles.css">
	</head>
	<body>
		<div class="content-wrapper">
			<div class="back">
				<a href="../../index.html">&#x2190; UI KIT</a>
			</div>
			<div class="area">
				<p>UPLOADER LIGHT</p>
				<div class="fragment clearfix">
					<div class="uploader">
						<div class="uploader-dd">
							<div class="icon-image"></div>
						</div>
						<div class="uploader-buttons">
							<div class="icon-upload"></div>
							<p>UPLOAD IMAGE</p>
							<div class="icon-bin"></div>
							<p>REMOVE IMAGE</p>
						</div>
					</div>
				</div>
			</div>
			<div class="area-dark">
				<p>UPLOADER DARK</p>
				<div class="fragment clearfix">
					<div class="uploader dark">
						<div class="uploader-dd">
							<div class="icon-image"></div>
						</div>
						<div class="uploader-button">
							<div class="icon-upload">
							</div>
							<p>UPLOAD IMAGE</p>
						</div>
						<div class="uploader-button">
							<div class="icon-bin"></div>
								<p>REMOVE IMAGE</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
